html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    padding-top: 10px;
    background: gray;
}

#main {
    z-index: 10;
    box-shadow: 10px 10px 15px #000;
    margin: 0 auto;
    border: 5px black solid;
    width: 1024px;
    height: 640px;
    background: url("snow.jpg"); /*http://www.wallsave.com/wallpaper/1920x1200/music-note-notewidescreen-and-hi-resolution-stock-p-o-106426.html*/
    
    background-position: center;
}

#desktop {
    height: 590px;
    position: relative;
    borde: white solid 1px;
}

#menu {
    margin: 0;
    position: absolute;
    top: 590px;
    background-color: rgba(0,0,0, 0.4);
    height: 50px;
    width: 1024px;
    border-top: solid black 3px;
}

#imageViewer img{
    padding: 6px 10px;
    width: 35px;
    height: 35px;
}


/*POPUPFÖNSTER*/

/*https://kuler.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=3&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.9,0.9447683826416778,1,0.8190000000000001,0.8836865966250034,0.91,0.9761832363433496,0.9993807549966773,1,0.558,0.62,0.6041865161781734,0.9,1,0.9461924941400411&swatchOrder=0,1,2,3,4*/

.popup {
    background: #8E9E9A;
    position: relative;
    left: 50px;
    top: 50px;
    border: solid gray 1px;
    width: 350px;
    height: 500px;
}

.windowHeader {
    color: white;
    padding: 8px;
    background: #8E9E9A;
    position: relative;
}

.label {
    padding-left: 5px;
    position: relative;
    color: white;
    float: left;
}

.labelPic {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    border: white solid 1px;
}

.close {
    margin-right: 5px;
    float: right;
}

.layout {
    overflow-y: auto;
    background: #D1E1E8;
    width: 350px;
    height: 440px;
    position: relative;
}

.status {
    height: 22px;
    width: 350px;
    background: white;
    position: relative;
    float: left;
}

.ajaxImg {
    background: rgba(229,241,255,0.8);
    text-align: center;
    border: 1px solid #F9FFFF; 
    margin: 10px;
    padding: 5px;
    float: left;
}









