body {
    background: #C8C8E8;   
}

form {
    margin: 0 auto;
    padding: 10px;
    width: 600px;
    background: #EEE8FF;
}

legend {
    font-size: 1.5em;   
}

a {
    float: right;
}

label {
    padding-right:50px;
}

#background {
    position: fixed;
    display: block;
    top: 0;
    left:0;
    padding-top: 50px;
    background: rgba(0,0,0,0.7);
    visibility: hidden;
    height:100%;
    width:100%;
}

#popup {
    padding: 10px;
    visibility: hidden;
    display: block;
    background: white;
    margin: 0 auto ;
    height: 300px;
    width: 600px;
    z-index: 30;
}


.errorMessage {
    color:red;
    width:300px;
    font-size:0.8em;
    float:right;
    margin-right:100px;
    margin-top:-2px;
}